#jumbotron {
    height: 31.25rem;
    background-color: white;
    box-shadow: 0 0 .625rem 0 #636363;
}

#jumbotronContent {
    padding-top: 7.5rem;
    float:left;
    max-width: 35rem;
}

#jumbotronHeader {
    font-weight: bold;
    font-size: 4.25rem;
    padding-bottom: .6rem;
}

#headerSubtext {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 1rem;
}

#headerParagraphText {
   font-size: 1.15rem;
   line-height: 1.8rem;
}

#profilePic {
    max-width: 25%;
    float:right;
    position: relative;
    top: 7.5rem;
    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 1000px) {
    #profilePic {
        display: none;
    }
}
