#contactFormJumbotron {
    height: 34rem;
    background-color: white;
    border-top: solid 0.0313rem;
    margin-top: 6.25rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

#contactFormHeader {
    margin-top: 2.5rem;
    font-weight: bold;
    font-size: 1.875rem;
}

#contactForm {
    max-width: 60%;
    margin-top: 1.25rem;
}
