.headerLine {
    height: 0.0625rem;
    background: #DDD;
    margin-top: 3.75rem;
    margin-bottom: 1.875rem;
    position: relative;
 }

 .bodyHeader {
    background: #fafafa;
    position: absolute;
    top: -0.625rem;
    left: 50%;
    margin-left: -6.25rem;
    width: 12.5rem;
    text-align: center;
    display: block;
    color: #666666;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: normal;
    letter-spacing: 0.0625rem;
    padding: 0rem;
 }

 .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 20rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: 0rem 0.0625rem 0.25rem 0rem rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 767px) {
    .cardWrapper {
        display: block;
    }

    .homeCard {
        margin-top: 0px !important;
    }
    
}